// Body
$body-bg: #f8fafc;

// Typography
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
$font-family-sans-serif: 'Inter',
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//color
$bg-color: #f4f4f4;
$dark-red: #8d191c;
$dark-red-hover: #711416;
